body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #app {
    margin-top: 20px;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 18px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  li span {
    display: inline-block;
    margin-right: 50px;
    font-size: 17px;
  }
  
  li button {
    margin-left: 10px;
    text-align: left;
  }
  .completed {
    text-decoration: line-through;
    color: gray;
  }